---
title: FAQs
permalink: /faq/
layout: page
---

<h2>FAQs</h2>

<section>
<ul>
{% for q in collections['faq'] %}
<li><a href="#{{ q.data.question | slugify }}">{{ q.data.question | mdToHtml | safe }}</a>
{% endfor %}
</ul>
</section>

{% for q in collections['faq'] %}
<section>
<h3><a name="{{ q.data.question | slugify }}">{{ q.data.question | mdToHtml | safe }}</a></h3>
<p>
{{ q.content | safe }}
</p>
</section>
{% endfor %}
