---
layout: main.liquid
permalink: /
---
{% import 'card.njk' as card %}

<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-8 fw-bolder text-white mb-2">Formal Guarantees about <i>Real</i> Software</h1>
                    <p class="lead text-white-50 mb-4">
                        Use BlueRock tools to verify your software.
                    </p>
                    <div class="d-grid d-sm-flex justify-content-sm-center">
                         <a class="btn btn-primary btn-lg px-4 me-sm-3" href="mailto:contact@bluerock.io">Tell me more! <i class="bi bi-chevron-double-right"></i></a>
{#                        <a class="btn btn-outline-light btn-lg px-4" href="#!">Learn More</a> #}
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="border-bottom" id="mission">
    <div class="container px-5 my-5">
    <h1>Verifying Software @ BlueRock</h1>
    <p>
        At BlueRock Security, we are on a mission to secure systems from the ground up.
        Formal verification is a crucial part of this goal because it is the only way to provide mathematical guarantees about a system.
        To enable reasoning about software, we are developing state-of-the-art tools to prove that software behaves as intended <i>in all possible situations</i>.
        Our tools build on decades of research into <i>modular</i> reasoning principles for highly concurrent software.
    </p>
    <p>
        To date, we have applied these tools to verify (parts of) complex, concurrent C++ code across the BlueRock ULTRA&trade; stack from the <a href="https://hypervisor.org/">NOVA microhypervisor</a> to user-mode applications including a <a href="">console multiplexor</a> and <a href="">a Virtual Machine Monitor (VMM)</a>.
        These verifications have been collaborative efforts between systems engineers with no background in formal methods and formal methods engineers, and the experiences have been beneficial on both sides.
        Our verification efforts have found and fixed many subtle bugs ranging from shallow undefined behavior to race conditions and semantic bugs across the entire stack.
    </p>
    <p>
        While we continue our work hardening the BlueRock stack, fully realizing our mission has lead us to enable the broader use of our verification tools outside of BlueRock.
        This work includes polishing our tools to improve usability and developing specifications for common C++ infrastructure such as the C++ standard library.

        <div class="d-grid d-sm-flex justify-content-sm-center">
            <a class="btn btn-primary btn-lg px-4 me-sm-3" href="mailto:contact@bluerock.io">I'm interested!</a>
        </div>
    </p>
</div>
</section>

{% include 'tech-reports.njk' %}
