---
layout: page.njk
title: Talks
permalink: /talks/
talks:

- title: Formal Methods @ BlueRock
  where: DARPA Resilient Software Systems Colloquium
  speaker: Gregory Malecha
  date: 2025-06-17
  slides: /talks/darpa-resilience-2025-FM4Certification.pdf
  report: content/tech_reports/darpa-resilient-systems-colloquium.md
  video: https://www.youtube.com/watch?v=ppz570c7Dck
  elsewhere:
    - "Big Specification: Specification, Proof, and Testing at Scale (BSPW01), Isaac Newton Institute, October 2024"
    - NIST Workshop on Formal Methods within Certification Programs (FMCP), July 2024
    - ETH Zurich, Switzerland, June 2024
    - Horizon Maths (Fondation Sciences mathématiques de Paris), March 2024
    - Vistas in Verified Software (VS2W01), Isaac Newton Institute, July 2022
    - Formal Methods for the Informal Engineer (FMIE), 2021
    - High Confidence Software and Systems (HCSS), September 2020
    - Iris Workshop, Aarhus University, Denmark, October 2019
    - New England Systems Verification Day (NESVD), October 2019

- title: Modular, Full-System Verification
  where: Workshop on Hot Topics in Operating Systems (HotOS) 2025, Banff, Canada
  speaker: Gregory Malecha
  date: 2025-05-14
  slides: /talks/hotos-2025-modular-fullstack.pdf
  report: content/tech_reports/modular-full-system-verification.md

- title: A Formal Specification of the NOVA Microhypervisor
  where: FOSDEM 2025, Brussels, Belgium
  speaker: Hai Dang
  date: 2025-02-01
  slides: /talks/fosdem-2025-nova.pdf
  report: content/tech_reports/a-formal-specification-of-the-NOVA-microhypervisors-abi.md
  video: https://archive.fosdem.org/2025/schedule/event/fosdem-2025-5083-a-formal-specification-of-the-nova-microhypervisor/
  short: >
    We present a formal specification of NOVA that captures its complex concurrent
    and architectural behavior. Our specification combines an operational
    specification for unprivileged user code with a separation logic specification
    of privileged state and operations. The specification precisely captures
    the subtle behaviors of NOVA such as address translation and user faults.
    Separation logic’s small footprint and open world nature makes the specification
    highly modular and reasonably high level, allowing us to abstract
    architectural details that are encapsulated by NOVA and evolve the
    formal specification as NOVA evolves.
    Using the specification, we have carried out proofs of the NOVA source code
    as well as of applications running on top of NOVA.

- title: A Lightweight Framework for Decomposing Logical Atomicity of LTS Composition
  where: Iris Workshop 2024, ETH Zurich, Switzerland
  speaker: Hai Dang
  date: 2024-06-03
  slides: /talks/iris-2024-spectra.pdf
  short: >
    Modern computer systems can be naturally modeled as a parallel composition
    of multiple concurrent processes communicating through events
    (e.g., as labeled transition systems or LTSes).
    At BedRock Systems, we prove that our virtualization stack implementation
    refines such an LTS composition model of a computer system (the specification).
    When using separation logic to decompose such a refinement proof, we need
    separation logic analogs of standard process calculi reasoning principles:
    while the separating conjunction can naturally reflect the parallel
    composition of states of constituent LTSes, reflecting the communication
    among those LTSes requires clever uses of invariants and more generally,
    logical atomicity (atomic updates in Iris).
    We have developed an Iris library called the refinement framework to provide
    separation logic decomposition along a parallel composition,
    process bi-simulation, and communication.
    We have applied our refinement framework in several large verification efforts
    including on a virtual machine monitor and virtual network switch.

- title: Towards Modular Specification and Verification of Concurrent Hypervisor-based Isolation
  where: Workshop on Principles of Secure Compilation (PriSC) 2024, London, UK
  speaker: Gregory Malecha
  date: 2024-01-20
  slides: /talks/prisc24-towards-modular-specification-and-verification-of-concurrent-hypervisor-based-isolation.pdf
  report: content/tech_reports/towards-modular-specification.md
  elsewhere:
    - New England Systems Verification Day (NESVD), April 26, 2024
  short: >
    Operating systems provide an interesting challenge for specification
    because they require low level specifications that talk directly about system resources.
    In this talk, we present our specification of the NOVA microhypervisor,
    a modern, concurrent microkernel with virtualization extensions.
    Our specification approach connects an operational semantics of user mode code
    with a handler describing the effects of privileged operations using separation logic.
    In addition to proving some functions within the NOVA implementation,
    we have also verified a large amount of user code against this specification.

- title: Modularizing CPU semantics for Virtualization
  where: Workshop on Principles of Secure Compilation (PriSC) 2024, London, UK
  speaker: Gregory Malecha
  date: 2024-01-20
  slides: /talks/prisc24-modularizing-cpu-semantics.pdf
  report: content/tech_reports/modularizing-cpu-semantics.md

- title: Decomposing end-to-end refinement proofs across multiple semantics within separation logics
  where: Iris Workshop 2023, MPI-SWS, Saarbrücken, Germany
  speaker: Hai Dang
  date: 2023-05-24
  slides: /talks/iris-2023-end-to-end.pdf
  short: >
    The BedRock Ultravisor provides client operating systems (guest OSes) with
    a virtualization layer on a shared physical machine.
    To show that the Ultravisor enables strong isolation properties, we need to
    prove a refinement between the virtualization stack (the implementation),
    running on the physical machine, and the "bare-metal" virtual machine
    (the specification).
    This is particularly challenging because both the bare-metal machine and
    the virtualization stack are composed of multiple (hardware/software)
    interacting components. Furthermore, the software components are implemented
    across multiple levels of abstractions (e.g., in both assembly and C++).
    In this talk, we present an approach to establish an end-to-end
    refinement theorem that avoids constructing new operational semantics
    for intermediate abstractions, and instead incrementally constructs
    those abstractions within separation logics.
    First, we reflect both the bare-metal virtual machine and the physical machine,
    both expressed operationally using process calculi, into separation logics.
    The bare-metal machine is encoded as pure ghost state,
    and the physical machine is tied into weakest preconditions.
    Second, we break down the physical machine model into smaller, separate,
    communicating systems. We then selectively recombine slices of these individual
    systems to build up increasingly abstract reasoning principles.
    For example, we demonstrate how to combine low-level resources of a CPU core
    and some DRAM memory segments, to establish higher-level resources to reason
    about an "assembly language program" stored in said memory segments.
    We can also encode convenient protocols for driving I/O devices from code
    running on the CPU. Third, we orthogonally decompose the specification
    (the bare-metal virtual machine) into smaller, separate specification models,
    and modularly show that the components of the implementation refine
    those models in separation logics, using the reasoning principles from
    the previous step. We show how our approach supports
    both horizontal decomposition (roughly characterized by
    [WP p1 ** WP p2 |-- WP (p1 || p2)]), and vertical decomposition
    (roughly characterized by [WP src |-- WP target]).
    Working within separation logic allows us to work with an "open-ended"
    foundation, where we can use small footprint abstractions and we can
    under-specify complex behaviors.

- title: Programming a Microkernel Specification in Separation Logic
  where: Iris Workshop 2022, Radboud University Nijmegen, The Netherlands
  speaker: Paolo G. Giarrusso
  date: 2022-05-02
  slides: /talks/iris-2022-nova-spec.pdf
  short: >
    Microkernel specifications must support reasoning about well-behaved clients in the presence of untrusted code.
    To this end, one can give an operational model of the abstract machine offered by the operating system;
    but it is challenging to build a faithful large-footprint operational model
    for a realistic microkernel using fine-grained concurrency,
    which will expose non-deterministic behavior and non-atomic sequences of atomic steps.
    To address this problem, we give our microkernel specifications
    operational-like specifications directly in separation logic,
    similarly to what is done in TaDA.
    This way, we can use existential quantification to model non-deterministic choice,
    iterated atomic updates to express sequencing, and separating conjunction to model
    (a slightly relaxed form of) non-deterministic evaluation order
    that we have found suitable in practice.
    We apply these techniques to our specification of NOVA,
    the L4-family microkernel that forms the foundation of the BedRock HyperVisor.
    On top of these specifications, we can both derive pleasant reasoning principles
    for well-behaved code, and (according to a proof sketch)
    we can verify software in the presence of unverified code.

- title: More hidden states, more modalities, and generalized invariants and ghost ownership
  where: Iris Workshop 2022, Radboud University Nijmegen, The Netherlands
  speaker: Hai Dang
  date: 2022-05-02
  slides: /talks/iris-2022-tls.pdf
  short: >
    Local states are commonly used to maintain agreement within a component and isolation across components.
    A language level thread can has its own thread-local storage;
    a hypervisor maintains separate address spaces (virtual address translations) for its virtual machines;
    a processor has multiple-level caches that are local to a CPU core or a group of CPU cores.
    Reasoning about local states needs to make sure that (1) within a component,
    the local state is ambient, i.e. it is always readily available,
    but is unobtrusive to the reasoning and (2) across components,
    local states should be isolated, but can also be used in cross-component
    communications in a safe and secure way.
    Iris provides an abstraction called "monotone predicates" (monPred)
    to account for local states in form of "BI indices", which was inspired
    by several weak memory developments in Iris.
    At BedRock Systems, we aim to handle, within a single logic,
    different types of local states at different levels of abstraction.
    This means that we also need to handle the composition, the interaction,
    and/or the abstraction between different types of local states.
    To that end, we develop "monotone lenses" to support the interaction
    between types of local states, and generalize monPred with monotone lenses,
    resulting in multiple local-state "modalities" inspired by the weak memory works.
    Furthermore, we push for the generalization of Iris invariants and ghost ownership for monPred with lenses.
---

{% include 'talks.njk' %}
