---
layout: page.liquid
---

    <div class="container mt-6" style="margin: 60pt;">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">{{ title }}</h3>
                        {% if authors %}
                        <h5 class="card-subtitle text-body-secondary">
                          {% for auth in authors %}
                          {{ auth }}{% if not forloop.last %}, {% endif %}
                          {% endfor %}
                        </h5>
                        {% endif %}
                        {% if date %}
                        <p>{{ date }}</p>
                        {% endif %}
                        <p class="card-text">{{ content | safe }}</p>
                    </div>
                    <ul class="list-group list-group-horizontal">
                      {% if links.download %}
                      <li class="list-group-item"><a href="{{ links.download | url }}" class="btn btn-primary">Download <i class="bi bi-download"></i></a></li>
                      {% endif %}
                      {% if links.publisher %}
                      <li class="list-group-item"><a href="{{ links.publisher | url }}" class="btn btn-primary">Publisher <i class="bi bi-book"></i></a></li>
                      {% endif %}
                      {% if links.slides %}
                      <li class="list-group-item"><a href="{{ links.slides | url }}" class="btn btn-primary">Slides <i class="bi bi-file-earmark-slides-fill"></i></a></li>
                      {% endif %}
                    </ul>
                </div>
            </div>
            <div class="col-md-2 d-flex align-items-center">
                <a href="{{ page.download_link }}"><img src="https://picsum.photos/200/300" alt="Card Image" class="img-fluid rounded" /></a>
            </div>
        </div>
    </div>
