<section id="features">
  <div class="container px-5">

  <h2>Read more</h2>
  <div class="row mx-2">
      {% for item in collections['tech-report'] | reverse | batch(4) | first %}

      <div class="card col-lg-6 mb-6 mb-lg-0 p-2">
        <div class="row">
          <div class="col-md-8">
            <div class="card-body">
              <h3 class="card-title">
                <a class="text-decoration-none h3" href="{{ item.url }}">{{ item.data.title }}</a>
              </h3>
              <p class="card-text">{{ item.data.short | truncate(100) }}</p>
              {% if item.date %}
              <p class="card-text"><small class="text-body-secondary">{{ item.date | formatDate }}</small></p>
              {% endif %}
              <a class="text-decoration-none" href="{{ item.url }}">
                Read it!<i class="bi bi-arrow-right"></i>
              </a>

            </div>
          </div>
        {% if item.data.thumbnail %}
          <div class="col-md-4">
            <a href="{{ item.url }}"><img src="{{ item.data.thumbnail }}" class="align-middle img-fluid rounded-end" alt="{{ item.title }}"></a>
          </div>
        {% endif %}
        </div>
      </div>
      {% endfor %}
  </div>


  <div class="d-grid d-sm-flex justify-content-sm-center pt-3">

    <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{{ "content/tech_reports.njk" | inputPathToUrl }}">Read More <i class="bi bi-arrow-right"></i>
 </a>
  </div>

  </div>
</section>
